main {
    height: 100vh;
    display: grid;
    place-items: center;
    margin: auto;
}
.timer-section {
    position: relative;
}
.timer {
    color: var(--neon-green);
}

.blink {
    animation: blink 2s infinite;
}
@keyframes blink {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* styling the timer options */
.timer-options {
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
}
.timer-option {
    letter-spacing: -1px;
    color: var(--lighter-pastel-green);
}
.timer-option:hover,
.timer-option:focus {
    cursor: pointer;
    transition: all 0.2s;
    color: var(--darker-neon-green);
}

.timer-option:active {
    opacity: 0.6;
}
